﻿
body {
    font-size: 0.8em;
    font-family: 'PT Serif', serif;
}

#main-loader{
    background-image: url('/img/126.gif');
    background-position:center;
    background-repeat:no-repeat;
    width:100%;
    height: 300px;
    position:fixed;
    top: 45%;
    margin: 0 auto;
    z-index: 9999;
    display:none;
}

#main-overlay-box {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(57, 78, 86, 0.86);
    z-index: 9999;
    display: none;
}