﻿@{ 
    ViewBag.Title = "HTML Wrappers";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:700" rel="stylesheet">
</head>
<body>

    @using (Html.UI().Begin(new Box().Id("main-overlay-box"))) { }
    @using (Html.UI().Begin(new Box().Id("main-loader"))) { }


    @using (Html.UI().Begin(new Box()))
    {
        @RenderBody()
    }

    @using (Html.UI().Begin(new Box().Style("margin-top:100px; margin-bottom:100px;"))) { }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
</body>
</html>
