﻿@using Bootstrap4Wrappers.Models
@using Bootstrap4Wrappers.ViewModels

@model PeopleViewModel

@{
    ViewBag.Title = "Tabela testy";

}

<style>

    #tb1 {
        max-height: 500px;
    }

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }

    .current {
        border: 1px solid #000;
    }

    .outer-wrapper {
        border: 1px solid rgba(57, 78, 86, 0.60);
        padding: 1em;
        background-color: #b5b9bd;
        border-radius: 1px;
        color: #e2e8ea;
    }

    .table-caption .title-box {
        font-size: 1.2em;
        font-weight: 600;
    }

    .search-box {
        background-color: #fff;
        text-align: left;
        margin-bottom: 1em;
    }

        .search-box input.search-input {
            color: rgba(57, 78, 86, 0.60);
            font-size: 0.7em;
            padding-left: 1em;
            width: 93%;
            height: 30px;
            position: relative;
            left: 0;
            border: none;
        }

    a.search-button {
        width: 5%;
        height: 30px;
        position: relative;
    }

        a.search-button i {
            color: rgba(57, 78, 86, 0.60);
            font-size: 1.8em;
            position: absolute;
            top: -1px;
        }

    .btn-info.pager-button {
        background-color: rgba(23, 162, 184, 0.60) !important;
        color: #e2e8ea;
        margin: 0.5em;
    }

        .btn-info.pager-button.pager-add-button {
            margin-left: 1.5em;
            margin-right: 1.5em;
            background-color: rgba(23, 162, 184, 0.90) !important;
        }

    td[data-title] a {
        text-decoration:none;
    }

    td[data-title] a:hover {
        text-decoration: none;
    }

    td[data-title] a > i {
        color: #e2e8ea !important;
        display:block;
        font-size:2em;
    }

</style>

@using (Html.UI().Begin(new Box().AddClass("container")))
{
    using (Html.UI().Begin(new Box().AddClass("row").Style("margin-top:100px;")))
    {
        using (Html.UI().Begin(new Box().AddClass("col-12 text-center outer-wrapper")))
        {
            using (Html.UI().Begin(new Box().Id("tb1").AddClass("scrollbar-inner")))
            {
                @(Html.Partial("~/Views/Home/People.cshtml"))
            }
        }
    }
}




@section scripts{

    <script>


        $(document).ready(function () {

            $(document).on("click", "a[data-input]", function (e) {
                e.preventDefault();
                var id = $(this).attr("data-input");

                var data = {
                    page: "1",
                    sortorder: $(this).attr("data-sort"),
                    propertyname: $(this).attr("data-property"),
                    search: $("#search_" + id).val(),
                };

                $.ajax({
                    url: '@(Url.Action("People", "Home"))',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    dataType: "html",
                    cache: false,
                    success: function (data) {
                        $("#tb1").html(data);
                    },
                    error: function () {
                        alert("error");
                    }
                });


            });


            $(document).on("click", "a[data-pager]", function (e) {
                e.preventDefault();

                var id = $(this).attr("data-pager");

                var data = {
                    page: $(this).attr("data-page"),
                    sortorder: $(this).attr("data-sort"),
                    propertyname: $(this).attr("data-property"),
                    search: $("#search_" + id).val(),
                };

                $.ajax({
                    url: '@(Url.Action("People", "Home"))',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    dataType: "html",
                    cache: false,
                    success: function (data) {
                        $("#tb1").html(data);
                    },
                    error: function () {
                        alert("error");
                    }
                });


            });

            $(document).on("click", "a[data-column]", function (e) {
                e.preventDefault();
                var id = $(this).attr("data-column");

                var data = {
                    page: $(this).attr("data-page"),
                    sortorder: $(this).attr("data-sort"),
                    propertyname: $(this).closest("td").attr("data-title"),
                    search: $("#search_" + id).val(),
                };

                $.ajax({
                    url: '@(Url.Action("People", "Home"))',
                    type: 'POST',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    dataType: "html",
                    cache: false,
                    success: function (data) {
                        $("#tb1").html(data);
                    },
                    error: function () {
                        alert("error");
                    }
                });


            });



        });

        jQuery(document).ready(function () {
            jQuery('.scrollbar-inner').scrollbar(
                {
                    "showArrows": true,
                    "scrollx": "advanced",
                    "scrolly": "advanced"
                }
            );
        });


    </script>



}

